extends layout

block content
  div(ng-controller='HomeCtrl')
      h1= title
      p= "Enter your code"
      ui-codemirror(ui-codemirror-opts="editorOptions", ng-model="code")
      p= "Input"
      textarea(ng-model="input")
      button(ng-click="submitCode()" class="btn") Submit
